<header class="clinic-header">
  <div class="logo">
    <h1><a [routerLink]="['/']">Clínica Virtual</a></h1>
  </div>

  <div class="user-info" *ngIf="isLoggedIn()">
    <div class="user-image-container">
      <img [src]="userImagePath" alt="Icono de usuario" class="user-icon">
      <div class="user-type-tooltip">
        <span class="user-type-badge">{{ userTypeShort }}</span>
        <span class="user-type-full">{{ userType }}</span>
      </div>
    </div>
    <span class="user-name">{{ userName }}</span>
    <span class="home-link" (click)="navigateToHome()">Inicio</span>
    <span class="logout" (click)="logout()">Cerrar sesión</span>
  </div>
</header>
